#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 1.5rem;
    margin: 1rem;

    article {
        width: 22rem;
        border-right: 2px solid rgba(0, 0, 0, 0.422);
        border-bottom: 2px solid rgba(0, 0, 0, 0.422);
        // border-radius: 1rem;
        padding: 1.5rem;
        // background-color: rgba(3, 50, 37, 0.66);
        text-align: start;
        display: flex;
        justify-content: space-between;
        margin: 0;

        img {
            /* display: inline-block; */
            width: 6rem;
            height: auto;
            margin-right: 1rem;
            // border: #e8e6dd solid 2px;
            border-radius: 3px;
            object-fit: contain;
        }

        .noimg {
            margin-right: 1rem;
            background-color: rgb(240, 222, 215);
            width: 6rem;
            /* height: 20rem; */
            // border: 0.25rem solid beige;
            border: 0.25rem solid rgb(244, 211, 203);

            /* text-align: center; */
            padding: 0 0 .5rem 0;
            /* margin: 0 1rem 0 0; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
     
        #content {
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                margin: 0px 0 10px;
                font-size: 1.25rem;
            }
    
            ul {
                list-style: none;
                padding: 5px;
                margin: 0;

                a {
                    // color: rgb(9, 54, 47);
                    color: rgb(85 26 139);
                    color: rgb(206 149 154);
                    color: rgb(127 78 141);
                    // text-decoration: none;
                }
            }
        }
    }
}